<html lang="en">
<head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
    <body>
       
        <h1>String Reverser</h1>
        <p>enter the string to reverse</p>
        <form id="form" method="POST" action="/form">
            <label for="'name">Enter String</label>
            <input type="text" name ="string" value="<%= query.str%>"></label><br/>
            <input type="submit" value = "submit"><br/>
        </form>
    </body>
</html>